<ly-core root>
  <h1>Gallery</h1>
  <button raised ly-button bg="accent" (click)="_fileInput.focus(); _fileInput.click()"><input (change)="Img.imgChange($event)" #_fileInput type="file">
    <a ly-icon-button class="material-icons">image</a>
    Select File
  </button>
  <button raised ly-button *ngIf="Img.img" bg="accent" (click)="uploadFile()">Upload</button>

  <div class="resize-image" [hidden]="!Img.img">

    <button ly-button bg="primary" (click)="Img.zoom('+')">
      +
    </button>
    <button ly-button bg="primary" (click)="Img.zoom('-')">
      -
    </button>
    <button ly-button bg="primary" (click)="Img.center()">
      center
    </button>
    <ly-cropping #Img format="png"></ly-cropping>

    <div>Result: </div>
    <br />
    <img [src]="Img.imgCrop">
    <br />
    <a [href]="Img.imgCrop" target="_blank" ly-button bg="accent">view image url</a>
    <input [(ngModel)]="Img.sizeW" placeholder="Img size W">
    <input [(ngModel)]="Img.sizeH" placeholder="Img size H">
    <input [(ngModel)]="Img.img" placeholder="Img">
    <div>Format input: {{Img._img.type}}</div>
    <br />
    <div>Format output: {{Img.format}}</div>
    <br />
  </div>
</ly-core>
